<div>
    <as-split unit="percent" direction="horizontal" disabled="true" #split="asSplit">
        <as-split-area size="{{widthMaster}}" #area1="asSplitArea">
            <ng-content select="[master]"></ng-content>
        </as-split-area>
        <as-split-area size="{{widthDetail}}" #area2="asSplitArea">
            <ng-content select="[detail]"></ng-content>
        </as-split-area>
    </as-split>
 </div>